<% provide(:title, "Home") %>
<div class="jumbotron">
	<h1 class="text-center">Moon Eyed Imagineering Company, Inc.</h1>
	<p class="text-center">Building innovative custom chemical solutions since 2009.</p>
</div>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Welcome to our new home page!</h4>
		</div>
		<div class="panel-body">
			<div class="progress">
				<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
				30% 
				</div>
			</div>
			<p>We are working hard to improve this site, so please come back and visit us soon to see the finished project.</p>
		</div>
	</div>
</div>

<div class="page-header">
	<h3>Contact Information:</h3>
</div>
<div class="row">
	<div class="col-xs-6 text-center" id="border-line">
		<h3>Sales or Service:</h3>
		<p>
			<%= mail_to "joel@mooneyed.com", "Joel Vice", subject: "MEICO Sales and Service" %>
		</p>
	</div>
	<div class="col-xs-6 text-center">
		<h3>Technical:</h3>
		<p>
			<%= mail_to "jacob@mooneyed.com", "Jacob Bonta", subject: "MEICO Technical" %>
		</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-xs-6 text-center" id="border-line">
		<h4>Phone:</h4>
		<p>
			(859)792-2117
		</p>
		<h4>Fax:</h4>
		<p>(859)792-2103</p>
	</div>
	<div class="col-xs-6 text-center">
		<h3>Street Address:</h3>
		<p>
			945 Stanford Rd
		</p>
		<p>Lancaster, KY 40444</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<hr>
	</div>
	<div class="col-xs-12">
		<h5>Need help with or have a question about the MEICO Website?</h5>

		<p>Contact <%= mail_to "josh@mooneyed.com", "Josh Pettyjohn", subject: "Help with MEICO Website" %></p>
	</div>
</div>
